@import "./type-pokemon-colors.css";

a {
    all: unset;
    cursor: pointer;
}

.pokemon-container {
    text-align: center;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 20px;
}

.pokemon-img-container {
    position: relative;
    background-color: var(--type-bg-color);
    width: 100%;
    margin-bottom: 20px;

    min-height: 400px;
}

.pokemon-img-container h1 {
    background-color: var(--type-bg-secondary-color);
    width: 100%;
}

.pokemon-img-container img {
    max-width: 100%;
}

.pokedex-number {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    font-weight: bold;
    font-size: 2rem;

    background-color: var(--type-bg-secondary-color);
    border-end-start-radius: 30px;
}

.evolution-chain .types-container {
    text-align: start;
}

.pokemon-stats {
    width: fit-content;
    margin: auto;
    padding: 10px;
}

.stat-item {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}
