/* Estilos para errorPage */

.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    border-radius: 12px;
}

.error-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 16px;
}

.error-message {
    font-size: 1.2rem;
    margin-bottom: 24px;
    text-align: center;
}

.error-btn {
    background-color: #c82333;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 12px 28px;
    font-size: 1rem;
    cursor: pointer;
    height: fit-content;
}

.error-btn:hover {
    background-color: #a71d2a;
}
