.generation-list {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.generation-btn {
    all: unset;

    padding: 5px 8px;
    border-radius: 10px;
    background-color: #f0f0f0;
    color: #000;
    cursor: pointer;
}

.active-gen .generation-btn {
    background-color: #ccc;
    cursor: default;
}
