header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    border-bottom: 1px solid #f0f0f0;
}

.header-logo-container {
    display: flex;
    gap: 10px;
}

.header-logo img {
    width: 30px;
    height: auto;
}
