@import "./type-pokemon-colors.css";

a {
    all: unset;
    cursor: pointer;
    display: block;
    height: 100%;
}

.pokemon-list-container {
    width: 90%;
    margin: auto;
}

.pokemon-list {
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
    width: fit-content;
    margin: auto;
}

.pokemon-card {
    width: 250px;
    background-color: var(--type-bg-secondary-color);
    border-radius: 20px;
    overflow: hidden;
    transition: all 500ms;
    &&:hover {
        box-shadow: 0 0 20px var(--type-bg-color);
    }
}

.pokemon-card a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 100%;
}

.card-img {
    padding: 0 10px;
    width: 100;
    min-height: 100px;
    min-width: 100px;
    height: 100%;
    background-color: var(--type-bg-color);
    border-top-left-radius: 30px;
}

.card-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

@media (min-width: 600px) {
    .pokemon-list {
        grid-template-columns: auto auto;
    }
}

@media (min-width: 900px) {
    .pokemon-list {
        grid-template-columns: auto auto auto;
    }
}

@media (min-width: 1200px) {
    .pokemon-list {
        grid-template-columns: auto auto auto auto;
    }
}

@media (min-width: 1500px) {
    .pokemon-list {
        grid-template-columns: auto auto auto auto auto;
    }
}
