@import "./type-pokemon-colors.css";

a {
    all: unset;
    cursor: pointer;
    display: block;
    height: 100%;
}

.pokemon-list-container {
    width: 90%;
    margin: auto;
}

.pokemon-list {
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
    width: fit-content;
    margin: auto;
}

.pokemon-card {
    width: 250px;
    background-color: var(--type-bg-color);
    border-radius: 20px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #f0f0f0;
}

.card-img {
    padding: 0 10px;
    border-left: 1px solid #f0f0f0;
    width: 100;
    min-height: 100px;
    height: 100%;
}

.card-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.type-item {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 12px;
    font-weight: bold;
    text-transform: capitalize;
    background-color: var(--type-bg-color);
    box-shadow: 0 0 5px #00000033;
}

.card-types-container {
    padding: 0 5px;
}

@media (min-width: 600px) {
    .pokemon-list {
        grid-template-columns: auto auto;
    }
}

@media (min-width: 900px) {
    .pokemon-list {
        grid-template-columns: auto auto auto;
    }
}

@media (min-width: 1200px) {
    .pokemon-list {
        grid-template-columns: auto auto auto auto;
    }
}

@media (min-width: 1500px) {
    .pokemon-list {
        grid-template-columns: auto auto auto auto auto;
    }
}
