.type-item {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 12px;
    font-weight: bold;
    text-transform: capitalize;
    background-color: var(--type-bg-color);
    cursor: pointer;
}

.types-container {
    padding: 0 5px;
    width: 100%;
}

.card-types {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
