* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    --color: #222;
    --backgrount-color: #f2f2f2;
}

body {
    background-color: var(--backgrount-color);
    color: var(--color);
}

.dark-mode {
    --color: #f0f0f0;
    --backgrount-color: #242424;
}
